# Project specific #
####################
**/test-output/
**/target/
**/.allure/
**/allure-results/
**/lib/
**/logs/
**/.metadata/
**/*.orig
**/reports/
**/.classpath
**/.idea/*
.idea/
.idea/*
**/.idea/workspace.xml
**/*.iml
**/.project
**/secretData
**/.settings/
**/ajcore.*
**/src/bin/
~*.docx
**/chromedriver/
**/geckodriver/
**/allure-framework-modules
**/allure-app-under-test

# Compiled source #
###################
**/*.com
**/*.class
**/*.dll
**/*.exe
**/*.o
**/*.so

# Exclude #
##############
!mrchecker-app-under-test/lib/**/*

# Packages #
############
**/*.7z
**/*.dmg
**/*.gz
**/*.iso
**/*.jar
**/*.rar
**/*.tar
**/*.zip

# Logs and databases #
######################
**/*.orig
**/*.log
**/*.sql
**/*.sqlite


# Do not push docker app data #
###############################
**/docker/data/**/*
**/docker/jenkins/**/*
**/docker/db/**/*

# Keep template empty folders #
###############################
template/src/main/java/com/capgemini/mrchecker/security/*
template/src/main/java/com/capgemini/mrchecker/webapi/*
template/src/test/java/com/capgemini/mrchecker/cucumber/features/selenium/*
template/src/test/java/com/capgemini/mrchecker/cucumber/features/security/*
template/src/test/java/com/capgemini/mrchecker/cucumber/features/webapi/*
template/src/test/java/com/capgemini/mrchecker/cucumber/stepdefs/selenium/*
template/src/test/java/com/capgemini/mrchecker/cucumber/stepdefs/security/*
template/src/test/java/com/capgemini/mrchecker/cucumber/stepdefs/webapi/*
template/src/test/java/com/capgemini/mrchecker/security/*
template/src/test/java/com/capgemini/mrchecker/webapi/*

!template/src/main/java/com/capgemini/mrchecker/security/.gitkeep
!template/src/main/java/com/capgemini/mrchecker/webapi/.gitkeep
!template/src/test/java/com/capgemini/mrchecker/cucumber/features/selenium/.gitkeep
!template/src/test/java/com/capgemini/mrchecker/cucumber/features/security/.gitkeep
!template/src/test/java/com/capgemini/mrchecker/cucumber/features/webapi/.gitkeep
!template/src/test/java/com/capgemini/mrchecker/cucumber/stepdefs/selenium/.gitkeep
!template/src/test/java/com/capgemini/mrchecker/cucumber/stepdefs/security/.gitkeep
!template/src/test/java/com/capgemini/mrchecker/cucumber/stepdefs/webapi/.gitkeep
!template/src/test/java/com/capgemini/mrchecker/security/.gitkeep
!template/src/test/java/com/capgemini/mrchecker/webapi/.gitkeep
