# Project specific #
####################
**/test-output/
**/target/
**/lib/
**/logs/
**/bin/
**/.metadata/
**/*.orig
**/reports/
**/.classpath
**/.idea/
**/*.iml
**/.project
**/secretData
**/.settings/
**/ajcore.*
**/src/bin/
~*.docx

# Compiled source #
###################
**/*.com
**/*.class
**/*.dll
**/*.exe
**/*.o
**/*.so

# Packages #
############
**/*.7z
**/*.dmg
**/*.gz
**/*.iso
**/*.jar
**/*.rar
**/*.tar
**/*.zip

# Logs and databases #
######################
**/*.log
**/*.sql
**/*.sqlite

# Exclude #
##############
!*/allure-app-under-test/lib/*