<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN">
    <Appenders>
        <RollingFile name="RollingFile" fileName="target/logs/app.log"
                     filePattern="target/logs/app-%d{yyyy-MM-dd}.log.gz">
            <PatternLayout>
                <Pattern>%d{yyyy-MM-dd HH:mm:ss} [%t] %-5level %logger{36} - %msg%n</Pattern>
            </PatternLayout>
            <Policies>
                <TimeBasedTriggeringPolicy />
            </Policies>
        </RollingFile>

        <Routing name="RoutingApp">
            <Routes pattern="$${sys:logFilename:-default_log}">
                <Route>
                    <File fileName="target/logs/${sys:logFilename:-default_log}.log"
                          name="${sys:logFilename:-default_log}">
                        <PatternLayout>
                            <Pattern>%d{yyyy-MM-dd 'at' HH:mm:ss z} %LL - %m%n</Pattern>
                        </PatternLayout>
                    </File>
                </Route>
            </Routes>
        </Routing>

        <Routing name="RoutingAppENV">
            <Routes pattern="$${sys:logFilename:-default_log}">
                <Route>
                    <File fileName="target/logs/${sys:logFilename:-default_log}_env.log"
                          name="${sys:logFilename:-default_log}_env">
                        <ThresholdFilter level="DEBUG" onMatch="DENY" onMismatch="ACCEPT"/>
                        <PatternLayout>
                            <Pattern>%d{yyyy-MM-dd 'at' HH:mm:ss z} %LL - %m%n</Pattern>
                        </PatternLayout>
                    </File>
                </Route>
            </Routes>
        </Routing>

        <Console name="MyConsole" target="SYSTEM_OUT" follow="true">
            <PatternLayout disableAnsi="false">
                <Pattern>%d{yyyy-MM-dd 'at' HH:mm:ss z} [%t] %highlight{%LL}{FATAL=red, ERROR=red, WARN=yellow,
                    INFO=green, DEBUG=blue, TRACE=black} - %m%n
                </Pattern>
            </PatternLayout>
        </Console>

        <Async name="MyAsync">
            <AppenderRef ref="MyConsole"/>
        </Async>
    </Appenders>

    <Loggers>
        <Root level="INFO" additivity="false">
            <AppenderRef ref="MyAsync"/>
            <AppenderRef ref="RoutingAppENV"/>
            <AppenderRef ref="RoutingApp"/>
        </Root>
    </Loggers>
</Configuration>
