<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN">
    <Appenders>
        <Routing name="RoutingApp">
            <Routes pattern="$${ctx:threadName}">
                <Route>
                    <File fileName="target/logs/${ctx:threadName}.log"
                          name="${ctx:threadName}">
                        <PatternLayout>
                            <Pattern>%d{yyyy-MM-dd 'at' HH:mm:ss z} %LL - %m%n</Pattern>
                        </PatternLayout>
                    </File>
                </Route>
            </Routes>
        </Routing>
        <Routing name="RoutingAppENV">
            <Routes pattern="$${ctx:threadName}">
                <Route>
                    <File fileName="target/logs/${ctx:threadName}_env.log"
                          name="${ctx:threadName}_env">
                        <ThresholdFilter level="DEBUG" onMatch="DENY" onMismatch="ACCEPT"/>
                        <PatternLayout>
                            <Pattern>%d{yyyy-MM-dd 'at' HH:mm:ss z} %LL - %m%n</Pattern>
                        </PatternLayout>
                    </File>
                </Route>
            </Routes>
        </Routing>
        <Console name="MyConsole" target="SYSTEM_OUT" follow="true">
            <PatternLayout disableAnsi="false">
                <!-- Old pattern without colors -->
                <!-- <Pattern>%d{yyyy-MM-dd 'at' HH:mm:ss z} [%t] %LL - %m%n</Pattern> -->
                <Pattern>%d{yyyy-MM-dd 'at' HH:mm:ss z} [%t] %highlight{%LL}{FATAL=red, ERROR=red, WARN=yellow,
                    INFO=green, DEBUG=blue, TRACE=black} - %m%n
                </Pattern>
            </PatternLayout>
        </Console>
        <Async name="MyAsync">
            <AppenderRef ref="MyConsole"/>
        </Async>
    </Appenders>
    <Loggers>
        <Root level="ALL" additivity="false">
            <AppenderRef ref="MyAsync"/>
            <AppenderRef ref="RoutingAppENV"/>
            <AppenderRef ref="RoutingApp"/>
        </Root>
        <!-- Disable netty debug spam -->
        <Logger name="io.netty" level="info" additivity="true">
            <appender-ref ref="MyConsole"/>
        </Logger>
    </Loggers>
</Configuration>