db1.hostname=jdbc:oracle:thin:@localhost:1521/xe
db1.username=test_user
db1.password=test_user
db1.database=oracle

db2.hostname=jdbc:oracle:thin:@localhost:1521/xe
db2.username=utp
db2.password=utp
db2.database=oracle

default.hostname=jdbc:oracle:thin:@localhost:1521/xe
default.username=utp
default.password=utp
default.database=oracle